@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	background-image: url("https://wallpaperaccess.com/full/3053366.png");
	background-color: #333;
	padding: 0;
	margin: 0;
}

body, html {
    height: 100%;
}


h1 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	text-align: center;
	color: white;
}

p {
	color: white;
	font-family: 'Roboto', sans-serif;
}

h2 {
	text-align: center;
	color: #4CAF50;
	margin-bottom: 0;
	font-family: 'Oswald', sans-serif;
}


h3 {
	text-align: center;
	color: #4CAF50;
	margin-bottom: 0;
	font-family: 'Oswald', sans-serif;
}

strong {
	color: rgb(145, 1, 1);
}

a {
	text-decoration: none;
	color: grey;
	transition: 0.3s;
}

a:hover{
	color: #4CAF50;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.security-container {
	display: flex;
	flex-wrap: nowrap;
	margin: auto;
	/*margin-top: 40px;*/
	margin-left: 35%;
}	

li {
	color: white;
	font-family: 'Roboto', sans-serif;

}