@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	background-image: url("https://wallpaperaccess.com/full/3053366.png");
	background-color: #333;
	padding: 0;
	margin: 0;

}

.tommybot-hero {
	text-shadow: 2px 2px 5px #535353;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	margin-bottom:20px;
}

.fancy-button {
	box-shadow: 0 0 25px #4CAF50, 0 0 5px #4CAF50;
	border-radius: 4px;
	font-family: 'Rubik', sans-serif;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	transition: 0.3s;

}

.fancy-button-other {
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: 'Rubik', sans-serif;
  border: solid 1px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	transition: 0.3s;

}

.fancy-button-suggest {
	margin-left:30px;
	background-image: linear-gradient(to right, rgb(255, 0, 106) , rgb(0, 132, 255));
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: 'Rubik', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	transition: 0.3s;
}

.fancy-button-suggest:hover {
	color:white;	
	box-shadow: 0 4px 8px black;
}

.fancy-button:hover {
	  background-color: rgb(75, 194, 105);
		color: white;
		cursor: pointer;
}

.fancy-button-other:hover {
		color:black;
	  background-color: rgb(255, 255, 255);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	font-family: 'Roboto', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	transition: 0.3s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Set a specific height */
  height: 700px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
	font-family: 'Work Sans' sans-serif;
  text-align: center;
  position: absolute;
  margin-top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
	margin-bottom:15%;
}

.parallax {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/fd/91/13/fd91131ea693096d6be5e8aa99d18f9e.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	text-align: center;
	color: white;
}

p {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

h2 {
	text-align: center;
	color: #4CAF50;
	margin-bottom: 0;
	font-family: 'Oswald', sans-serif;

}

strong {
	color: #4CAF50;
}

.features-nav {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	font-size: 30px;
}

.features-container {
	display: flex;
	flex-direction: row;
}

.features-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
	background-color: rgb(78, 78, 78);
	border-radius: 4px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	transition: 0.3s;
	/*padding: 8px;*/
}


.help-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
	background-color: rgb(78, 78, 78);
	border-radius: 4px;
	margin-top: 2%;
	margin-left:1.5%;
	margin-right:1.5%;
	/*padding: 8px;*/
}

.features-text {
	font-size: 17px;
	text-align: left;
	padding-left: 15px;
	padding-right: 3px;
}

.feature-icon {
	width:10%;
	height:10%; 
	padding-left: 10px; 
	padding-top: 30px; 
	padding-right: 10px;
}

.dark-grey-container {
	background-color: rgb(29, 28, 28);
	height: 750px;
}

.explanation-text {
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: 5%;
}

.feature-title {
	font-family: 'Oswald', sans-serif;
}

.key-class {
	background-color: rgb(112, 112, 112); 
	border-radius: 4px;
	font-size: 20px; 
	font-family: monospace;
}

.bot-invite-div {
	margin-bottom:0;
	background-image: linear-gradient(to right, rgb(0, 132, 255) , rgb(0, 255, 64));
}

a {
	text-decoration: none;
	color: grey;
	transition: 0.3s;
}

a:hover{
	color: #4CAF50;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.security-container {
	display: flex;
	flex-wrap: nowrap;
	margin: auto;
	/*margin-top: 40px;*/
	margin-left: 35%;
}	

.help-title {
	font-family: 'Oswald', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.help-text {
	text-align: center;
	font-size:18px;
}

.help-link {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

.help-title a:hover {
	color:#4CAF50;
	font-size:32px;
}

.footer {
  width: 100%;
  background-color: rgb(15, 15, 15);
  color: white;
	margin-bottom:15px;
	padding-bottom: 1px;
}

.description-text {
	margin-left:15px;
	margin-right:50%;
}